<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
          <h1>J.D. Leiker</h1>           
  </header>

  	<main>

      <div id="content">
        <%= yield %>
      </div>

    </main>

		

	 <footer>
      <p>JDLEIKER.COM © 2014</p>
   </footer>

</body>
</html>
