<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>

</head>

<body>
	<div class="wrapper">
    <div id="header">
		<div class="wrap">
		<div class="logo">
			
       		<h1><strong><em>J.D. Leiker</em></strong></h1>
              
       	</div> 
            
		</div>

	</div>

	<div id="main">
			
			<div class="profile">
            <a href="demo.html"><img src="images/test.jpg" width="698" height="392" alt=""/>
            </a>          
      </div>             
	</div>
    
      
    
    <div id="widgets">
    	<p>{Social Widgets Go Here}</p>
       
    </div>
    <div class="push"></div>
    
    <div id="footer">
    	<p>JDLEIKER.COM © 2014</p>
    </div>
    </div>

</body>
</html>


